<p>Soy mejor que Penaldo!</p>
<div class="tarjeta">
  <img class="image"[src]="dataEntrante.image"alt="">
    <div class="titulo">Lionel Messi</div>
    <div class="cuerpo">
    <div class="wrapper-text"></div>
    <div class="titulo">{{dataEntrante.titulo}}</div>
    <div class="sub-titulo"> {{dataEntrante.subtitulo}} Mi tarjeta</div>
    <img src="https://depor.com/resizer/lPxpc-1DdDdam3GqvNH7JpGsUPU=/580x330/smart/filters:format(jpeg):quality(75)/cloudfront-us-east-1.images.arcpublishing.com/elcomercio/VVDTPEFZR5E4PPOEWW6X7XVYVQ.jpg" alt="muestra" width="370">
    
    </div>
    <div class="pie">
      <a href="#">PENALDO</a>
    </div>
    
    
